* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

body {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  height: 100vh;
}
body #sectionLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 4%;
  padding-right: 2%;
}
body #sectionLeft #divLogo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 24% 0;
}
body #sectionLeft #divLogo object {
  width: 32%;
}
body #sectionLeft #divLogo span {
  font-size: 32px;
  font-weight: 600;
}
body #sectionLeft #divNavLog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 80%;
  width: 100%;
}
body #sectionLeft #divNavLog #divNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
body #sectionLeft #divNavLog #divNav button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 8px;
  gap: 10%;
  padding: 4%;
  cursor: pointer;
  border: none;
}
body #sectionLeft #divNavLog #divNav button object {
  width: 16%;
}
body #sectionLeft #divNavLog #divNav button span {
  font-size: 20px;
}
body #sectionLeft #divNavLog #divNav nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: 4%;
  margin-top: 24%;
  gap: 24px;
}
body #sectionLeft #divNavLog #divNav nav div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body #sectionLeft #divNavLog #divNav nav div object {
  width: 20%;
}
body #sectionLeft #divNavLog #divNav nav div a {
  font-size: 20px;
  margin-left: 12px;
}
body #sectionLeft #divNavLog #LogOut {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 24% 0;
}
body #sectionLeft #divNavLog #LogOut object {
  width: 20%;
}
body #sectionLeft #divNavLog #LogOut span {
  margin-left: 20px;
  font-size: 20px;
}
body #sectionMiddle {
  display: grid;
  grid-template-rows: 12% 14% 56% 18%;
}
body #sectionMiddle #divMiddleTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}
body #sectionMiddle #divMiddleTop span {
  font-size: 28px;
}
body #sectionMiddle #divMiddleTop #divSearch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 4px 2%;
}
body #sectionMiddle #divMiddleTop #divSearch object {
  width: 8%;
}
body #sectionMiddle #divMiddleTop #divSearch input {
  width: 80%;
  height: 100%;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 4%;
}
body #sectionMiddle #divMiddleInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body #sectionMiddle #divMiddleInfo #divNavInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 48%;
  background-color: #343434;
  padding: 1% 2%;
  border-radius: 8px;
}
body #sectionMiddle #divMiddleInfo #divNavInfo #infoSelect {
  background-color: #181818;
  border-radius: 8px;
  padding: 2% 4%;
}
body #sectionMiddle #divMiddleInfo #divNavInfo span {
  cursor: pointer;
}
body #sectionMiddle #divMiddleInfo #moulaStats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 30%;
  margin-left: 5%;
}
body #sectionMiddle #divMiddleInfo #moulaStats span:nth-child(1) {
  font-size: 12px;
  font-weight: 900;
}
body #sectionMiddle #divMiddleInfo #moulaStats span:nth-child(2) {
  font-size: 20px;
  font-weight: 400;
}
body #sectionMiddle #divMiddleInfo #moulaStats span:nth-child(2)::after {
  content: "BTC";
  font-size: 12px;
  font-weight: 900;
  margin-left: 8px;
  background-color: yellow;
  color: black;
  border-radius: 4px;
  padding: 2px;
}
body #sectionMiddle #divMiddleInfo #moulaStats span:nth-child(3) {
  font-size: 16px;
}
body #sectionMiddle #graphic {
  background-color: #343434;
  border-radius: 12px;
  margin: 1% 5%;
}
body #sectionMiddle #transactionsRecent {
  margin: 0 4%;
}
body #sectionMiddle #transactionsRecent #transactionsText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body #sectionMiddle #transactionsRecent #transactionsText span {
  font-size: 16px;
}
body #sectionMiddle #transactionsRecent #transactionsText span:nth-child(1) {
  color: white;
  font-weight: 600;
}
body #sectionMiddle #transactionsRecent #transactionsText span:nth-child(2) {
  color: #a0a0a0;
  font-weight: 400;
}
body #sectionMiddle #transactionsRecent .transaction {
  display: grid;
  grid-template-columns: 8% 12% 20% 20% 24% 10%;
  grid-template-rows: 100%;
  gap: 1%;
  padding: 4px 3%;
  margin-top: 8px;
  background-color: #343434;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}
body #sectionMiddle #transactionsRecent .transaction div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #sectionMiddle #transactionsRecent .transaction div .icon {
  height: 100%;
  width: auto;
}
body #sectionMiddle #transactionsRecent .transaction div object {
  width: 100%;
}
body #sectionMiddle #transactionsRecent .transaction div span:nth-child(1), body #sectionMiddle #transactionsRecent .transaction div .moneyName {
  font-size: 10px;
  color: #d6d6d6;
}
body #sectionMiddle #transactionsRecent .transaction div span:nth-child(2):not(.moneyName) {
  font-size: 12px;
  color: rgb(76, 67, 197);
}
body #sectionMiddle #transactionsRecent .transaction .tradeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  border-radius: 12px;
  padding: 12% 18%;
  cursor: pointer;
  border: none;
}
body #sectionRight {
  display: grid;
  grid-template-rows: 10% 55% 35%;
  width: 100%;
}
body #sectionRight #divTopRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body #sectionRight #divTopRight object {
  width: 12%;
  margin: 4%;
}
body #sectionRight #divMiddleLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  gap: 4%;
}
body #sectionRight #divMiddleLeft > span {
  font-size: 12px;
  margin-left: 4%;
  font-weight: 600;
}
body #sectionRight #divMiddleLeft > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}
body #sectionRight #divMiddleLeft > div .elementTransactionsLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
body #sectionRight #divMiddleLeft > div .elementTransactionsLeft object {
  width: 14%;
}
body #sectionRight #divMiddleLeft > div .elementTransactionsLeft div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 80%;
}
body #sectionRight #divMiddleLeft > div .elementTransactionsLeft div span {
  font-size: 12px;
  font-weight: 400;
  color: #a0a0a0;
}
body #sectionRight #divMiddleLeft > div .elementTransactionsLeft div:nth-child(2) span:nth-child(1) {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
body #sectionRight #divMiddleLeft > div .elementTransactionsLeft div:nth-child(3) span:nth-child(1) {
  font-size: 12px;
  font-weight: 600;
  color: #0c530a;
}
body #sectionRight #divBottomLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  gap: 6%;
}
body #sectionRight #divBottomLeft > span {
  font-size: 12px;
  margin-left: 4%;
  font-weight: 600;
}
body #sectionRight #divBottomLeft .elementAssets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 92%;
  background: linear-gradient(115deg, #6411a8 0%, #6411a8 35%, #3067bb 65%, #3067bb 100%);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  margin: auto;
  padding: 2% 4%;
}
body #sectionRight #divBottomLeft .elementAssets div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 6px;
}
body #sectionRight #divBottomLeft .elementAssets div span:nth-child(1) {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
body #sectionRight #divBottomLeft .elementAssets div span:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
body #sectionRight #divBottomLeft .elementAssets span {
  padding-right: 4px;
}

/*# sourceMappingURL=main.css.map */
