$breakpoint-tablette: 768px;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    // border: red 1px solid !important;
}

a{
    text-decoration: none;
    color: white;
}


body{
    display: grid;
    grid-template-columns: 20% 55% 25%;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    height: 100vh;

    #sectionLeft{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        // background-color: rgb(61, 61, 61);
        padding-left: 4%;
        padding-right: 2%;

        #divLogo{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            width: 100%;
            margin: 24% 0;  
            
            object{
                width: 32%;
            }

            span{
                font-size: 32px;
                font-weight: 600;
            }
        }

        #divNavLog{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 80%;
            width: 100%;

            #divNav{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;

                button{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: gray;
                    border-radius: 8px;
                    gap: 10%;
                    padding: 4%;
                    cursor: pointer;
                    border: none;

                    object{
                        width: 16%;
                    }

                    span{
                        font-size: 20px;
                    }
                }

                nav{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    padding-left: 4%;
                    margin-top: 24%;
                    gap: 24px;

                    div{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        // width: 100%;

                        object{
                            width: 20%;
                        }
    
                        a{
                            font-size: 20px;
                            margin-left: 12px;
                        }
                    }
                }
            }

            #LogOut{
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                margin: 24% 0;

                object{
                    width: 20%;
                }

                span{
                    margin-left: 20px;
                    font-size: 20px;
                }
            }
        }
    }

    // ###----### Section Middle ###----### //

    #sectionMiddle{
        display: grid;
        grid-template-rows: 12% 14% 56% 18%;

        #divMiddleTop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 4%;

            span{
                font-size: 28px;
            }

            #divSearch{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 60%;
                background-color: #ffffff;
                border-radius: 8px;
                padding: 4px 2%;

                object{
                    width: 8%;
                }

                input{
                    width: 80%;
                    height: 100%;
                    border: none;
                    color: white;
                    font-size: 20px;
                    margin-left: 4%;
                }
            }
        }

        #divMiddleInfo{
            display: flex;
            flex-direction: row;
            align-items: center;

            #divNavInfo{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 48%;
                background-color: #343434;
                padding: 1% 2%;
                border-radius: 8px;

                #infoSelect{
                    background-color: #181818;
                    border-radius: 8px;
                    padding: 2% 4%;
                }

                span{
                    cursor: pointer;
                }
            }

            #moulaStats{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 30%;
                margin-left: 5%;

                span:nth-child(1){
                    font-size: 12px;
                    font-weight: 900;
                }

                span:nth-child(2){
                    font-size: 20px;
                    font-weight: 400;
                }

                span:nth-child(2)::after{
                    content: "BTC";
                    font-size: 12px;
                    font-weight: 900;
                    margin-left: 8px;
                    background-color: yellow;
                    color: black;
                    border-radius: 4px;
                    padding: 2px;
                }

                span:nth-child(3){
                    font-size: 16px;
                }
            }
        }

        #graphic{
            background-color: #343434;
            border-radius: 12px;
            margin: 1% 5%;
        }

        #transactionsRecent{
            margin: 0 4%;

            #transactionsText{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                span{
                    font-size: 16px;
                }

                span:nth-child(1){
                    color: white;
                    font-weight: 600;
                }

                span:nth-child(2){
                    color: #a0a0a0;
                    font-weight: 400;
                }
            }

            .transaction{
                display: grid;
                grid-template-columns: 8% 12% 20% 20% 24% 10%;
                grid-template-rows: 100%;
                gap: 1%;
                padding: 4px 3%;
                margin-top: 8px;

                background-color: #343434;
                border-radius: 8px;
                backdrop-filter: blur(10px);
                
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    .icon{
                        height: 100%;
                        width: auto;
                    }

                    object{
                        width: 100%;
                    }

                    span:nth-child(1), .moneyName{
                        font-size: 10px;
                        color: #d6d6d6;
                    }

                    span:nth-child(2):not(.moneyName){
                        font-size: 12px;
                        color: rgb(76, 67, 197);
                    }
                }

                .tradeButton{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: #181818;
                    border-radius: 12px;
                    padding: 12% 18%;
                    cursor: pointer;
                    border: none;
                }
            }
        }
    }

    // ###----### Section Left ###----### //

    #sectionRight{
        display: grid;
        grid-template-rows: 10% 55% 35%;
        width: 100%;
        // background-color: #805454;

        #divTopRight{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            object{
                width: 12%;
                margin: 4%;
            }
        }

        #divMiddleLeft{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;
            gap: 4%;

            >span{
                font-size: 12px;
                margin-left: 4%;
                font-weight: 600;
            }

            > div{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 90%;

                .elementTransactionsLeft{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 95%;

                    object{
                        width: 14%;
                    }

                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-evenly;
                        height: 80%;

                        span{
                            font-size: 12px;
                            font-weight: 400;
                            color: #a0a0a0;
                        }
                    }

                    div:nth-child(2){
                        span:nth-child(1){
                            font-size: 12px;
                            font-weight: 600;
                            color: #ffffff;
                        }
                    }

                    div:nth-child(3){
                        span:nth-child(1){
                            font-size: 12px;
                            font-weight: 600;
                            color: #0c530a;
                        }
                    }
                }
            }
        }

        #divBottomLeft{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;
            gap: 6%;


            >span{
                font-size: 12px;
                margin-left: 4%;
                font-weight: 600;
            }

            .elementAssets{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                width: 92%;
                background: linear-gradient(115deg, #6411a8 0%, #6411a8 35%, #3067bb 65%, #3067bb 100%);
                backdrop-filter: blur(10px);
                border-radius: 12px;
                margin: auto;
                padding: 2% 4%;

                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    gap: 6px;

                    span:nth-child(1){
                        font-size: 12px;
                        font-weight: 600;
                        color: #ffffff;
                    }

                    span:nth-child(2){
                        font-size: 12px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }

                span{
                    padding-right: 4px;
                }
            }
        }
    }
}